{% extends 'base.html.twig' %}
{% block title %}Home
{% endblock %}
{% block body %}
	<h1 class="text-center">Your To-Do Lists</h1>

	<div class="container mt-3">
		<div class="row d-flex justify-content-center g-2 ">
			<h2 class="ms-3">High Priority Task</h2>
			<hr class="border border-white border-1 opacity-100"/>
			{% for todo_list in todoListsHigh %}
				<div class="col-9 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
					<a href="{{ path('todo_list_show', { id: todo_list.id }) }}" class="card-link nav-link w-100 m-3">
						<div class="card border border-secondary border-4 bg-primary card-shadow text-white rounded-5 p-0 h-100">
							<h4 class="text-white mx-3 my-2">{{ todo_list.title|u.truncate(18, '...', true) }}</h4>

							<hr class="border border-secondary border-1 opacity-100 my-0"/>

							<ul class="my-3 h-50">
								{% if todo_list.tasks is not empty %}
									{% for task in todo_list.tasks|slice(0,5) %}
										<li>{{task.content|u.truncate(13, '...', false)}}</li>
									{% endfor %}
								{% else %}
									<li>No task</li>
								{% endif %}
							</ul>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>

		<div class="row d-flex justify-content-center g-2 ">
			<h2 class="ms-3">Medium Priority Task</h2>
			<hr class="border border-white border-1 opacity-100"/>
			{% for todo_list in todoListsMedium %}
				<div class="col-9 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
					<a href="{{ path('todo_list_show', { id: todo_list.id }) }}" class="card-link nav-link w-100 m-3">
						<div class="card border border-secondary border-4 bg-primary card-shadow text-white rounded-5 p-0 h-100">
							<h4 class="text-white mx-3 my-2">{{ todo_list.title|u.truncate(18, '...', true) }}</h4>

							<hr class="border border-secondary border-1 opacity-100 my-0"/>

							<ul class="my-3 h-50">
								{% if todo_list.tasks is not empty %}
									{% for task in todo_list.tasks|slice(0,5) %}
										<li>{{task.content|u.truncate(13, '...', false)}}</li>
									{% endfor %}
								{% else %}
									<li>No task</li>
								{% endif %}
							</ul>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>

		<div class="row d-flex justify-content-center g-2 ">
			<h2 class="ms-3">Low Priority Task</h2>
			<hr class="border border-white border-1 opacity-100"/>
			{% for todo_list in todoListsLow %}
				<div class="col-9 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
					<a href="{{ path('todo_list_show', { id: todo_list.id }) }}" class="card-link nav-link w-100 m-3">
						<div class="card border border-secondary border-4 bg-primary card-shadow text-white rounded-5 p-0 h-100">
							<h4 class="text-white mx-3 my-2">{{ todo_list.title|u.truncate(18, '...', true) }}</h4>

							<hr class="border border-secondary border-1 opacity-100 my-0"/>

							<ul class="my-3 h-50">
								{% if todo_list.tasks is not empty %}
									{% for task in todo_list.tasks|slice(0,5) %}
										<li>{{task.content|u.truncate(13, '...', false)}}</li>
									{% endfor %}
								{% else %}
									<li>No task</li>
								{% endif %}
							</ul>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
