{% extends 'base.html.twig' %}

{% block title %}TodoList
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between mt-3">
		<div>
			<h1 class="ms-5 text-white">{{ todo_list.title }}</h1>
		</div>
		<div class="d-flex ">
			<a href="{{ path('todo_list_edit', {'id': todo_list.id}) }}" class="btn btn-secondary text-white d-flex align-items-center mx-3">
				<i class="bi bi-pencil-square fs-3"></i>
			</a>
			{{ include('todo_list/_delete_form.html.twig') }}
		</div>
	</div>

	<hr class="border border-white border-1 opacity-100 mx-4"/>

	<div class="d-flex justify-content-center">
		<a href="" class="btn btn-secondary shadow-lg text-white fs-3 fw-semibold">New Task</a>
	</div>

	<form name="task" method="post" enctype="multipart/form-data" class="mx-4">
		<label for="content" class="text-white">Add a new task</label>
		<div class="d-block text-center d-md-flex">
			<textarea class="form-control" name="content"></textarea>
			<button type="submit" class="btn btn-secondary shadow-lg text-white fs-3 fw-semibold">Submit</button>
		</div>
	</form>

	<div class="mt-4 mx-5">
		{% for task in todo_list.tasks %}
			<div class="d-flex">
				<form name="task" method="post" enctype="multipart/form-data" class="mx-4">
					{% if not task.completed %}
						<button type="submit" name="completed" value="{{task.id}}" class="btn btn-secondary text-white rounded-circle">
							<i class="bi bi-check-lg fs-3"></i>
						</button>
					{% else %}
						<button type="submit" name="unCompleted" value="{{task.id}}" class=" btn btn-success text-white rounded-circle">
							<i class="bi bi-check-lg fs-3"></i>
						</button>
					{% endif %}
				</form>
				<div class="card border border-secondary border-4 bg-primary shadow-lg text-white w-75 my-2">
					<p>{{task.content}}</p>
				</div>
				{{ include('todo_list/_delete_form.html.twig') }}
			</div>
		{% endfor %}
	</div>
{% endblock %}
