<div{{attributes}}>

	<div id="sidebar" class="bg-primary h-100">
		<div class="list-group text-start vh-100">
			<ul class="list-unstyled text-white text-center my-1">
				<button type="button" class="btn text-reset d-md-none" data-bs-dismiss="offcanvas" aria-label="Close">
					<i class="bi bi-x-circle-fill fs-4 text-white"></i>
				</button>

				<li class="nav-item">
					<a href="" class="nav-link">
						<h1 class="text-white mt-2">Task Central</h1>
					</a>
				</li>
				<hr class="border border-white opacity-100">

				<li class="nav-item">
					<a href="{{ path('todo_list_new')}}" class="btn btn-secondary rounded-4 shadow-lg text-white fs-3 fw-semibold">
						New TodoList
					</a>
				</li>

				<hr class="border border-white opacity-100">

				<li class="nav-item">
					<a href="{{ path('app_home')}}" class="nav-link text-white fs-3 fw-semibold">
						<i class="bi bi-house"></i>
						Home</a>
				</li>

				<hr class="border border-white opacity-100">
				<li>
					<a id="displayTodo" class="btn fs-3 fw-semibold m-0 border border-primary text-white">
						<i class="bi bi-caret-down"></i>
						To do list
					</a>
				</li>

				<ul id="todoSidebar" class="p-0 list-unstyled" style="display: none;">
					{% for todo_list in computed.todoLists %}
						<li>
							<a href="{{ path('todo_list_show', { id: todo_list.id }) }}" class="nav-link">{{ todo_list.title|u.truncate(20, '...', true) }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
